@import url("https://raw.githubusercontent.com/ILC-YTP/oldcord/refs/heads/main/src/components/vars.css");
@import url("https://raw.githubusercontent.com/ILC-YTP/oldcord/refs/heads/main/src/components/color.css");
@import url("https://raw.githubusercontent.com/ILC-YTP/oldcord/refs/heads/main/src/components/imgs.css");
@import url("https://raw.githubusercontent.com/ILC-YTP/oldcord/refs/heads/main/src/components/other.css");
@import url("https://raw.githubusercontent.com/ILC-YTP/oldcord/refs/heads/main/src/components/profile.css");
@import url("https://raw.githubusercontent.com/ILC-YTP/oldcord/refs/heads/main/src/components/redesign.css");
